# Raspberry Pi 5
MACHINE = "raspberrypi5"

# Required for restricted Raspberry Pi 5 Wi-Fi / Bluetooth related firmware.
LICENSE_FLAGS_ACCEPTED += "synaptics-killswitch"

# Tune for the tested WSL build host.
BB_NUMBER_THREADS = "6"
PARALLEL_MAKE = "-j6"

# Disable build statistics when WSL I/O errors occur around buildstats.
USER_CLASSES = ""

# USB boot rootfs partition.
# Without this, cmdline.txt may point to /dev/mmcblk0p2 for microSD boot.
CMDLINE_ROOT_PARTITION = "/dev/sda2"

